body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #bbcee1;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    color: #031325;
    text-decoration: none;
}

#user-info {
    display: none;
    margin-top: 20px;
}

#welcome-message {
    font-weight: bold;
}

#logout-btn {
    color: red;
    cursor: pointer;
}
